<carousel>
    <slide>
        <img src="assets/ClientImages/images/hero1.jpg" alt="firstImage" style="display: block; width:100%;">
    </slide>
    <slide>
        <img src="assets/ClientImages/images/hero2.jpg" alt="secondImage" style="display: block; width:100%;">
    </slide>
    <slide>
        <img src="assets/ClientImages/images/hero3.jpg" alt="thirdImage" style="display: block; width:100%;">
    </slide> 
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to SkiNet</h1>
    </div>
</section>